# ================= DATABASE =================
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# ================= JWT =================
jwt.secret=
jwt.access.expiration_time=
jwt.refresh.expiration_time=

# ================= MINIO =================
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=

# ================= REDIS =================
REDIS_HOST=
REDIS_PORT=

# ================= RABBITMQ =================
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=

# ================= LOCATION DB =================
LOCATION_DB_URL=
LOCATION_DB_USERNAME=
LOCATION_DB_PASSWORD=
